DB_PASSWORD=change_me
APP_SECRET=change_me
JWT_SECRET=change_me
JWT_EXPIRATION=3600
DEFAULT_URI=https://pharma.trqr.fr
MESSENGER_TRANSPORT_DSN=doctrine://default?auto_setup=0
MAILER_DSN=null://null
TRUSTED_PROXIES=REMOTE_ADDR
TRUSTED_HOSTS=pharma.trqr.fr
